@model IEnumerable<BudgetYou.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<div class="main-content">
    <div class="container">

        <div class="page-content">

            <!-- Heading -->
            <div class="single-head">
                <!-- Heading -->
                <h2 class="pull-left"><i class="fa fa-table purple"></i> Transactions</h2> 
               
                <div class="pull-right">@Html.ActionLink("+ Add Transaction", "Create", null, new { @class = "btn btn-primary" })</div>
                <div class="clearfix"></div>
            </div>

            <!-- Table Page -->
            <div class="page-tables">
                <!-- Table -->
                <div class="table-responsive">
                    <table cellpadding="0" cellspacing="0" border="0" id="data-table" width="100%" class="table" >
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Reconciled</th>
                                <th>Entry</th>
                                <th>Reconciled Amount</th>
                                <th>Control</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                       @foreach (var item in Model)
                       {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Account.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @if (item.Types == true)
                                {
                                    <p class="green">Income</p>
                                }
                                else
                                {
                                    <p class="red">Expense</p>
                                }
                            </td>
                            <td>
                                @string.Format("{0:C}", item.Amount)
                            </td>
                            <td>
                                @item.Date.ToString("D")
                            </td>
                            <td>
                                @if (item.Reconciled == true)
                                { <span class="label label-success">Success</span>}
                                else
                                { <span class="label label-warning">Failed</span>}
                            </td>
                            <td>
                                @item.Entry.FirstName @item.Entry.LastName
                            </td>
                            <td>
                                @string.Format("{0:C}", item.ReconciledAmount)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Transactions", new { id = item.Id })"><i class="fa fa-edit lblue fa-2x"></i></a>
                                @*<a href="@Url.Action("Details", "Transactions", new { id = item.Id })"><i class="fa fa-share-square-o green"></i></a>*@
                                <a href="@Url.Action("Delete", "Transactions", new { id = item.Id })"><i class="fa fa-trash-o red fa-2x"></i></a>


                             
                            </td>
                        </tr>
                       }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Account</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Reconciled</th>
                                <th>Entry</th>
                                <th>Reconciled Amount</th>
                                <th>Control</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {


<script type="text/javascript">
		/* ****************************************** */
		/* Data Table JS */
		/* ****************************************** */

		$(document).ready(function() {
			$('#data-table').dataTable({
			   "sPaginationType": "full_numbers"
			});
		});

</script>

<script src="~/theme/js/custom.js"></script>
}