@model BudgetYou.Models.RegisterViewModel

    @{
        Layout = null;
        <!-- Title here -->
        <title>FamBudget - Register</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="~/theme/img/budgetbulb.png">
        <!-- Bootstrap CSS -->
        <link href="~/theme/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome CSS -->
        <link href="~/theme/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Color CSS -->
        <link href="~/theme/css/less-style.css" rel="stylesheet">
    <!-- Custom CSS -->
        @*<link href="~/theme/css/style.css" rel="stylesheet">*@
        <link href="~/assets/css/styles.min.css" rel="stylesheet" />
        <!-- Javascript files -->
    <!-- jQuery -->
        <script src="~/theme/js/jquery.js" type="text/javascript"></script>
    <!-- Bootstrap JS -->
        <script src="~/theme/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Respond JS for IE8 -->
        <script src="~/theme/js/respond.min.js" type="text/javascript"></script>
    <!-- HTML5 Support for IE -->
        <script src="~/theme/js/html5shiv.js" type="text/javascript"></script>
    }

    <div class="outer-page">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

      <!-- Login page -->
            <div class="login-page">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="" data-toggle="tab" class="br-lblue"><i class="fa fa-pencil"></i> Register</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="register">
                        <!-- Register form -->
                        <div class="alert alert-info">
                            Just
                            <strong>Click "Register"</strong> to visit the Dashboard
                        </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.FirstName)
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.LastName)
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.HouseholdName)
                                @Html.TextBoxFor(m => m.HouseholdName, new { @class = "form-control", @placeholder = "Add Household" })
                                @Html.ValidationMessageFor(m => m.HouseholdName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <input type="submit" class="btn btn-primary" value="Register" />
                            <input type="reset" class="btn btn-default " />
                    </div>


                </div>

            </div>
           
        }

    </div>



