@model IEnumerable<BudgetYou.Models.BudgetItem>

@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Budget Name
        </th>
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Budget.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@


<!------------------------------>

<div class="main-content">
    <div class="container">

        <div class="page-content">

            <!-- Heading -->
            <div class="single-head">
                <!-- Heading -->
                <h2 class="pull-left"><i class="fa fa-table orange"></i> Budget Items</h2>

                <div class="pull-right">@Html.ActionLink("+ Add Budget Items", "Create", null, new { @class = "btn btn-warning" })</div>
                <div class="clearfix"></div>
            </div>

            <!-- Table Page -->
            <div class="page-tables">
                <!-- Table -->
                <div class="table-responsive">
                    <table cellpadding="0" cellspacing="0" border="0" id="data-table" width="100%" class="table ">
                        <thead>
                            <tr>
                                <th>Budget Name</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Control</th>
                                
                            </tr>
                        </thead>
                        <tbody>

                         @foreach (var item in Model)
                         {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Budget.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "BudgetItems", new { id = item.Id })"><i class="fa fa-edit lblue fa-2x"></i></a>
                                    <a href="@Url.Action("Details", "BudgetItems", new { id = item.Id })"><i class="fa fa-share-square-o green fa-2x"></i></a>
                                    <a href="@Url.Action("Delete", "BudgetItems", new { id = item.Id })"><i class="fa fa-trash-o red fa-2x"></i></a>
                                </td>
                            </tr>
                         }


                        </tbody>
                  
                    
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {

    <script type="text/javascript">
		/* ****************************************** */
		/* Data Table JS */
		/* ****************************************** */

		$(document).ready(function() {
			$('#data-table').dataTable({
			   "sPaginationType": "full_numbers"
			});
		});

    </script>

}