@model IEnumerable<BudgetYou.Models.Budget>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Budget Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@


<!-------->

<div class="main-content">
    <div class="container">

        <div class="page-content">

            <!-- Heading -->
            <div class="single-head">
                <!-- Heading -->
                <h2 class="pull-left"><i class="fa fa-table red"></i> Budgets</h2>

                <div class="pull-right">@Html.ActionLink("+ Add Monthly Budget", "Create", null, new { @class = "btn btn-primary" })</div>
                <div class="clearfix"></div>
            </div>

            <!-- Table Page -->
            <div class="page-tables">
                <!-- Table -->
                <div class="table-responsive">
                    <table cellpadding="0" cellspacing="0" border="0" id="data-table" width="100%" class="table ">
                        <thead>
                            <tr>
                                <th>Budget Name</th>
                                <th>Control</th>
                                
                            </tr>
                        </thead>
                        <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Budgets", new { id = item.Id })"><i class="fa fa-edit lblue fa-2x"></i></a>
                                @*<a href="@Url.Action("Details", "Budgets", new { id = item.Id })"><i class="fa fa-share-square-o green fa-2x"></i></a>*@
                                <a href="@Url.Action("Delete", "Budgets", new { id = item.Id })"><i class="fa fa-trash-o red fa-2x"></i></a>
                            </td>
                        </tr>
                    }


                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {

    <script type="text/javascript">
		/* ****************************************** */
		/* Data Table JS */
		/* ****************************************** */

		$(document).ready(function() {
			$('#data-table').dataTable({
			   "sPaginationType": "full_numbers"
			});
		});

    </script>

}