@model BudgetYou.Models.DashboardViewModels

@{
    ViewBag.Title = "Dashboard";
}


<br />
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>
                    @foreach (var item in Model.Accounts)
                    {
                       

                        if(item.Balance < 6)
                        {
                          @item.Name  @(" Account is low on Balance!") 
                        }
                    }
                </h1>
            </div>
        </div>
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div class="col-md-8">
             
                        <!--bar chart will go here-->
                        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                        <table id="datatable" >
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>BudgetItem</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Transactions)
                                {

                                foreach (var v in Model.Budgets.BudgetItems)
                                {
                                    <tr>
                                        <th>@v.Category.Name</th>
                                     <td>@v.Amount</td>
                                      
                                    </tr>
                                }


                                }
                            </tbody>
                        </table>


            </div>


            <div class="col-md-4 ">
                <!-- Pages widget -->
                <div class="widget pages-widget">

                    <div class="widget-head br-red">
                        <h3>
                            <i class="fa fa-university"></i> Accounts / Balances
                        </h3>
                    </div>

                    <div class="widget-body no-padd">

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <!-- Table heading -->
                                <thead>
                                    <tr>
                                        <th>Account Name</th>
                                        <th>Balance</th>
                                        <th>Reconciled</th>
                                        <th>Control</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.Accounts)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @string.Format("{0:C}", item.Balance)
                                            </td>
                                            <td>
                                                @string.Format("{0:C}", item.ReconcileBalance)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "Accounts", new { id = item.Id })"><i class="fa fa-pencil btn btn-sm btn-warning"></i></a>
                                                <a href="@Url.Action("Delete", "Accounts", new { id = item.Id })"><i class="fa fa-times btn btn-sm btn-danger"></i></a>

                                            </td>
                                        </tr>
                                    }


                                </tbody>



                            </table>
                        </div>

                    </div>

                    <div class="widget-foot">
                        <span class="pull-right">
                            @Html.ActionLink("+ Add Account", "Create", null, new { @class = "btn btn-success" })
                        </span>

                        <div class="clearfix"></div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <!-- Project widget -->
                    <div class="widget projects-widget">

                        <div class="widget-head br-blue">
                            <h3>
                                <i class="fa fa-archive"></i> Recent Transactions
                            </h3>
                        </div>

                        <div class="widget-body no-padd">

                            <ul class="list-unstyled">
                                @foreach (var tran in Model.Transactions)
                                {
                                    <li>

                                        <strong><i class="fa fa-user"></i> @tran.Entry.FirstName @tran.Entry.LastName</strong>
                                        <p>
                                            <span>
                                                @if (tran.Types == true)
                                                {
                                                    <span class="green"><b>@("Income")</b></span>
                                                }
                                                else
                                                {
                                                    <span class="red"><b>@("Expense")</b></span>
                                                }
                                                | @string.Format("{0:C}", tran.Amount) | @tran.Account.Name | @tran.Category.Name
                                            </span>
                                        </p>
                                        <p class="p-meta">
                                            <span>@tran.Description</span>

                                        </p>
                                        <p class="p-meta">
                                            <!-- Due date & % Completed -->
                                            <span>@tran.Date.ToString("D")</span>
                                        </p>




                                    </li>
                                }

                            </ul>

                        </div>


                    </div>

                </div>

            </div>

        </div>



    </div>
</div>

