<!DOCTYPE html>
<html>
<head>
    <!-- Title here -->
    <title>Dashboard - Barnie</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="~/theme/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery gritter -->
    <link href="~/theme/css/jquery.gritter.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="~/theme/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Color CSS -->
    <link href="~/theme/css/less-style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/theme/css/style.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">

</head>
<body>

    <div class="outer">

        <!-- Sidebar starts -->
        <div class="sidebar">

            <div class="sidey">

                <!-- Logo -->
                <div class="logo">

                    <h1>@Html.ActionLink("Budget-You", "Dashboard", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</h1>

                </div>

                <!-- Sidebar navigation starts -->
                <!-- Responsive dropdown -->
                <div class="sidebar-dropdown"><a href="#" class="br-red"><i class="fa-bars"></i></a></div>

                <div class="side-nav">

                    <div class="side-nav-block">
                        <!-- Sidebar heading -->
                        <h4>Main</h4>
                        <!-- Sidebar links -->
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-delicious"></i>Home</a></li>
                           
                           
                            
                        </ul>
                    </div>

                    


                </div>

                <!-- Sidebar navigation ends -->

            </div>
        </div>
        <!-- Sidebar ends -->
        <!-- Mainbar starts -->
        <div class="mainbar">

            <!-- Mainbar head starts -->
            <div class="main-head">

                <div class="container">

                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <!-- Page title -->

                            <h2><i class="fa fa-desktop lblue"></i> Dashboard</h2>
                        </div>

                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <!-- Search block -->
                            <div class="head-search">
                                <form class="form" role="form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 hidden-xs">
                            <!-- Notifications -->
                            <div class="head-noty text-center">


                                <!-- Messages -->
                                <div class="dropdown">
                                    <a href="#" id="messages" data-toggle="dropdown" class="mhead-icon"><i class="fa fa-envelope"></i> <span class="label label-danger">5</span></a>
                                    <ul class="dropdown-menu" role="button" aria-labelledby="messages">

                                        <!-- Dropdown menu head -->
                                        <li class="dropdown-head">
                                            Messages <span class="label label-danger pull-right">5</span>
                                        </li>
                                        <!-- Content -->
                                        <li>
                                            <a href="#">
                                                <!-- Title -->
                                                Hello How are you? <i class="fa fa-reply pull-right"></i>
                                                <!-- Para -->
                                                <span>Lorem ipsum dolor sit amet something elit.</span>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                What are you doing today? <i class="fa fa-reply pull-right"></i>
                                                <span>Lorem ipsum dolor sit amet something elit.</span>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Why don't you come here? <i class="fa fa-reply pull-right"></i>
                                                <span>Lorem ipsum dolor sit amet something elit.</span>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>

                                        <li class="dropdown-foot text-center">
                                            <a href="#">View All</a>
                                        </li>

                                    </ul>
                                </div>



                            </div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="col-md-3 hidden-sm hidden-xs">

                            @Html.Partial("_LoginPartial")

                        </div>
                    </div>
                </div>

            </div>
            @RenderBody()
            <!-- Mainbar head ends -->
        </div>
    </div>
    



        <!-- jQuery -->
        <script src="~/theme/js/jquery.js"></script>
        <!-- Bootstrap JS -->
        <script src="~/theme/js/bootstrap.min.js"></script>
        <!-- jQuery UI -->
        <script src="~/theme/js/jquery-ui.min.js"></script>
        <!-- Date Time Picker JS -->
        <script src="~/theme/js/bootstrap-datetimepicker.min.js"></script>
        <!-- Bootstrap wysihtml5 JS -->
        <script src="~/theme/js/wysihtml5-0.3.0.js"></script>
        <script src="~/theme/js/prettify.js"></script>
        <script src="~/theme/js/bootstrap-wysihtml5.min.js"></script>

        <!-- jQuery flot -->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
        <script src="~/theme/js/jquery.flot.min.js"></script>
        <script src="~/theme/js/jquery.flot.stack.min.js"></script>
        <script src="~/theme/js/jquery.flot.pie.min.js"></script>
        <script src="~/theme/js/jquery.flot.resize.min.js"></script>

        <!-- Validate JS -->
        <script src="~/theme/js/jquery.validate.js"></script>
        <!-- Form wizard steps  JS -->
        <script src="~/theme/js/jquery.steps.min.js"></script>
        <!-- jQuery Knob -->
        <script src="~/theme/js/jquery.knob.js"></script>
        <!-- jQuery Sparklines -->
        <script src="~/theme/js/jquery.sparklines.js"></script>
        <!-- jQuery slim scroll -->
        <script src="~/theme/js/jquery.slimscroll.min.js"></script>
        <!-- Data Tables JS -->
        <script src="~/theme/js/jquery.dataTables.min.js"></script>
        <!-- Pretty Photo JS -->
        <script src="~/theme/js/jquery.prettyPhoto.js"></script>
        <!-- Rate It JS -->
        <script src="~/theme/js/jquery.rateit.min.js"></script>
        <!-- Full calendar -->
        <script src="~/theme/js/moment.min.js"></script>
        <script src="~/theme/js/fullcalendar.min.js"></script>
       
        <!-- Respond JS for IE8 -->
        <script src="~/theme/js/respond.min.js"></script>
        <!-- HTML5 Support for IE -->
        <script src="~/theme/js/html5shiv.js"></script>
        @RenderSection("scripts", required: false)
</body>
</html>
